@using MvcApp.ViewModels.Fornecedor
@model List<FornecedorViewModel>;

@{
    ViewData["Title"] = "Fornecedores";
}

<div class="d-flex justify-content-between align-items-md-center">
    <h1>Fornecedores</h1>
    <a class="btn btn-primary" asp-action="Criar">Novo Fornecedor</a>
</div>
<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cnpj</th>
            <th>Cep</th>
            <th>Endereço</th>
            <th>Segmento</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var fornecedor in Model)
        {
            string endereco = fornecedor.Endereco;
            var enderecoTruncado = endereco.Length > 30 ? $"{endereco[..30]}..." : endereco;
            <tr>
                <td>@fornecedor.Nome</td>
                <td>@fornecedor.CnpjFormatado</td>
                <td>@fornecedor.CepFormatado</td>
                <td>@enderecoTruncado</td>
                <td>@fornecedor.Segmento</td>
                <td class="text-end">
                    <a class="btn btn-primary btn-sm"
                       asp-action="Editar"
                       asp-route-idPublico="@fornecedor.IdPublico">
                        Editar
                    </a>
                    <a class="btn btn-danger btn-sm"
                       asp-action="Excluir"
                       asp-route-idPublico="@fornecedor.IdPublico">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>